.site-nav {
  display: flex;
  margin-left: 85px;
}
.menu-item:not(:last-child) {
  margin-right: 50px;
}
.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: $text-title-color;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color $time-animation $time-function;
}
.link.current {
  color: $accent-text;
  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background: $accent-text;
    border-radius: 2px;
    transform: translateY(32px);
  }
}
.link {
  color: $accent-text;

  &:hover,
  &:focus {
    color: $accent-text;
  }
}
