/*общие свойства для документа*/
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  color: $main-text-color;
  background-color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.main-nav {
  display: flex;
  align-items: center;
}
.button {
  display: inline-block;
  min-width: 200px;
  padding: 10px 32px;
  border-radius: 4px;
  border-width: 0px;
  color: $primary-white-color;
  background-color: $accent-text;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  text-decoration: none;
  text-align: center;
}
.modal .button {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
