$main-text-color: #757575;
$text-title-color: #212121;
$accent-text: #2196f3;
$primary-white-color: #ffffff;
$team-link-color: #afb1b8;
$footer-bcg-color: #2f303a;
$hero-bcg-color: rgba(47, 48, 58, 0.8);
$time-animation: 250ms;
$time-function: cubic-bezier(0.4, 0, 0.2, 1);
